PORT=3001
# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.swmlmqyqmqbulmkegdvi:[YOUR-PASSWORD]@aws-0-us-west-2.pooler.supabase.com:5432/postgres"
NATS_SERVERS='nats://localhost:4222'
CLOUDINARY_NAME=#
CLOUDINARY_API_KEY=#
CLOUDINARY_API_SECRET=#
RESEND_API_KEY=re_123456789_api_key_aqui
EMAIL_FROM=Douremember
EMAIL_FROM_ADDRESS=notificaciones@dominio.com